<div class="container">
    <%= form_with(url: "welcome/upload", method: "post") do%>
        <%= label_tag(:file, "Upload:") %>
        <%= file_field_tag(:file) %>
        <%= submit_tag("Upload") %>
    <% end %>
</div>