.wrapper
  .wrapper-inner
    .wrapper-welcome
      %h3.slogan
        Welcome use FCS file reader!
      .button-action
        = link_to "Start!", fcs_files_path, :class => "btn btn-warning", :role => "button"
