<div class="wrapper">
    <div class="wrapper-inner">
        <div class="wrapper-welcome">
            <h3 class="slogan">
                Welcome use FCS file reader!
            </h3>
            <div class="button-action">
                <%= link_to "Start!", fcs_files_path, :class => "btn btn-default", :role => "button"%>
            </div>    
    </div>
</div>