// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper {
    height: 100%;
    // set margin and padding to override the side effect of bootstrap nav bar
    margin-top: -72px;
    padding-top: 72px;

    .wrapper-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wrapper-welcome {
            text-align: center;

            .slogan {}

            .button-action {}
        }
    }
}